<!-- extend from base layout -->
{%extends "base.html"%}
{%block content%}
<script type="text/javascript">
function set_openid(openid,pr)
{
	u = openid.search('<username>')
	if (u !=-1){

		user = prompt('Enter your ' + pr + ' username:')
		openid = openid.substr(0,u)+user
	}
	form = document.forms['login'];
	form.elements['openid'].value = openid
}
</script>
<div class="well">
<div style="color:#E0FFFF;">
<h3 style="color:#C0C0C0;">欢迎登录！！！</h3>
<form action=""method="post"name="login">
	{{form.hidden_tag()}}
	<p style="color:#C0C0C0;">
		请选择一个openID提供商:<br>
		{%for pr in  providers%}
		<a href="javascript:set_openid('{{pr.url}}','{{pr.name}}');"><img src="/static/img/{{pr.name.lower()}}.png" class="img-polaroid" style="margin:2px;" /></a>
		{%endfor%}
	</p>
	<p style="color:#C0C0C0;">
		在此输入你的openID：
	</p>
	<p>
		{{form.openid(size=80)}}<br>
		{%for error in form.openid.errors%}
			<span style="color: red;">[{{error}}]</span>
		{%endfor %}
	</p>
	<p><label class="checkbox" for="remember_me" style="color:#C0C0C0;">
               {{ form.remember_me }}记住ID
       </label>
		<p style="color:#C0C0C0;">
		若无法登录，请使用此随机账号：<a href="{{ url_for('simple_login',id = random_user.id) }}">{{random_user.nickname}}</a>
	</p>
    <input type="submit" class="btn btn-info" value="登录"></p>
</form>
</div>
</div>
{% endblock %}