<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>select头像选择代码-懒人图库</title>
</head>

<body>
<select name=lanrentuku onchange="document.images['idface'].src=options[selectedIndex].value;">
        <option value="http://www.lanrentuku.com/down/js/images/12625057550.gif" >头像01</option>
        <option value="http://www.lanrentuku.com/down/js/images/12625057551.gif" >头像02</option>
        <option value="http://www.lanrentuku.com/down/js/images/12625057552.gif" >头像03</option>
</select>   
<div style="position:absolute;"><img src="http://www.lanrentuku.com/down/js/images/12625057550.gif" id=idface></div>
<br/ ><br/ ><br/ >
<p>查找更多代码，请访问：<a href="http://www.lanrentuku.com/" target="_blank">懒人图库</a></p>
</body>
</html>