<!-- extend base layout -->
{% extends "base.html"%}

{%block content%}
<table>
    <tr valign="top">
        <td><img src="{{user.avatar(128)}}"></td>
        <td>
			<h1>{{user.nickname}}:</h1>
			<p><i>简介：</i>{% if user.about_me %}{{user.about_me}}</p>{% endif %}
			<p><i>邮箱：</i>{{user.email}}</p>
			{% if user.last_seen %}
			<p><em>上次登录时间: {{momentjs(user.last_seen).calendar()}}</em></p>{% endif %}
			<p>{{user.followers.count()}}人关注|
			{% if user.id == g.user.id %}
				<a href="{{url_for('edit')}}">编辑个人信息</a>
			{%elif not g.user.is_following(user)%}
				<a href="{{url_for('follow',nickname=user.nickname)}}">关注</a>
			{%else%}
				<a href="{{url_for('unfollow',nickname=user.nickname)}}">取消关注</a>
			{% endif %}
			</p>
		</td>
	</tr>
</table>
<hr>
{% for post in posts.items %}
	{%if post.author.id==g.user.id%}
	{%include 'post.html'%}
	{%elif post.mark==0%}
	{%include 'post.html'%}
	{%endif%}
{% endfor %}
<!--不带省略号的分页-->
<div class="pagination">
  <ul>
    <li>{% if posts.has_prev %}<a href="{{ url_for('user',nickname=user.nickname,page = posts.prev_num) }}"><<上一页</a>{% else %}<span><<上一页</span>{% endif %}</li>
    {%for p in posts.iter_pages(left_edge=2,left_current=2,right_current=5,right_edge=2)%}
		{% if p %}
			{% if p == posts.page %}
			<li class="active"><a href="{{ url_for('user',nickname=user.nickname,page = p) }}">{{p}}</a></li>
			{% else %}
			<li><a href="{{ url_for('user',nickname=user.nickname,page = p) }}">{{p}}</a></li>
			{%endif%}
		{%endif%}
	{%endfor%}
    <li>{% if posts.has_next %}<a href="{{ url_for('user',nickname=user.nickname,page = posts.next_num) }}">下一页>></a>{% else %}<span>下一页>></span>{% endif %}</li>
  </ul>
</div>
{% endblock %}